<!DOCTYPE html>
<html>
    <head>
    </head>
		<style>
		.bio_overview {
			float: left;
		}
		
		.bio_overview .avatar {
			margin: 1em;
			float: left;
			width: 35px;
			height: 40px;
			background-size: 42px auto;
		}
		</style>
        <div >
                        
                        <img alt="This is Prairie Developer Conference" border="0" src="http://prdc.herokuapp.com/assets/t_welcome-c1c988610255db62313c599a166891c4.gif" style="margin: 0px 0px 6px 0px;">
                        <br>
                            The Prairie Developer Conference is <b>the</b> conference event for software professionals in the Canadian prairies!<br>

                            Featuring technical experts, and including session styles such as hands-on coding, panel discussions, and lectures, Prairie Developer Conference is an exceptional learning opportunity!<br> 

                            Register for our November 2011 event today!</div>
         </div>

         <p>
			<h4>This app is provided by:<h4>
			<div class="bio_overview">
	
					<img class="avatar" alt="George Chen" class="pic" src="http://prdc.herokuapp.com/assets/speakers/georgechen-b4c2c355e78113a1d74048113e8254c5.jpg">
					<span>
					George Chen <br/>
					<a href="mailto:monstercoder@gmail.com" target="blank"><img alt="Icon_email" src="http://prdc.herokuapp.com/assets/icon_email-ad2d78219557d9848231b820ca421797.gif"></a>
					<a href="http://" target="blank"><img alt="Icon_blog" src="http://prdc.herokuapp.com/assets/icon_blog-af90fe359bf4655789643005e609371c.gif"></a>
					<a href="http://" target="blank"><img alt="Icon_website" src="http://prdc.herokuapp.com/assets/icon_website-ec4a7457379735c1abe3b7825a0ff0ec.gif"></a>
					<a href="http://www.twitter.com/georgec_monster" target="blank"><img alt="Icon_twitter" src="http://prdc.herokuapp.com/assets/icon_twitter-9c624d4c5c2d77be0d82c36fe8a366fc.gif"></a>
					</span>
			</div>
		
			<div class="bio_overview">
           
			
					               <img class="avatar" alt="Amir Barylko" src="http://prdc.herokuapp.com/assets/speakers/amirbarylko-d884b593f0aa36e75a9656b314bf0930.jpg">
						<span>		   Amir Barylko  <br/> 
                  <a href="mailto:amir@barylko.com" target="blank"><img alt="Icon_email" src="http://prdc.herokuapp.com//assets/icon_email-ad2d78219557d9848231b820ca421797.gif"></a>
                  <a href="http://www.orthocoders.com" target="blank"><img alt="Icon_blog" src="http://prdc.herokuapp.com//assets/icon_blog-af90fe359bf4655789643005e609371c.gif"></a>
                  <a href="http://www.maventhought.com" target="blank"><img alt="Icon_website" src="http://prdc.herokuapp.com//assets/icon_website-ec4a7457379735c1abe3b7825a0ff0ec.gif"></a>
                  <a href="http://www.twitter.com/abarylko" target="blank"><img alt="Icon_twitter" src="http://prdc.herokuapp.com//assets/icon_twitter-9c624d4c5c2d77be0d82c36fe8a366fc.gif"></a>
				</span>
			</div>

	   </p>

</html>
